# Prerequisites
*.d

# Compiled Object files
*.o
*.obj
*.lo
*.slo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.la
*.lai

# Executables
*.exe
*.out
*.app

# Debug files
*.log
*.tmp

# IDE / Editor folders
.vscode/
.idea/
*.swp
